{{#each}}
<p>Name: ${{country.name.official}}</p>
<p>Capital: ${{country.capital}}</p>
<p>Population: ${{country.population}}</p>
<img
  src="${{country.flag.svg}}"
  alt='flag of ${{country.name.}}'
  style='height: 20px'
/>
<p>Languages: ${{values.country.languages}}</p>
{{/each}}


